<footer class="msap-footer">

<section class="lower-footer">
<div class="container-fluid">
    <div class="row">
 		 <div class="col-lg-6 col-sm-6 col-xs-12  text-center-xs edlogo-push">
 		  <a href="http://www.ed.gov" target="_blank"><img class="opacity" src="img/ed-logo.png" alt="Department of Ed Logo"/></a><br>
 		   Funded by the U.S. Department of Education<br>
 		   Contract Number: ED-OII-13-C-0073
	      
 		 </div>
         <div class="col-lg-6 col-sm-6 col-xs-12 text-right text-center-xs">
        MSAP Technical Assistance Center<br>
8757 Georgia Ave., Suite 460<br>
Silver Spring, MD 20910<br><br>

<a href="tel:+1-866-997-6727">1-866-997-MSAP (6727)</a><br>
<a href="mailto:msapcenter@leedmci.com">msapcenter@leedmci.com</a><br>
   	 		</div>
  		 </div> 
      </div> 
    </section>   
 </footer> 
