    <header class="msap-header">
		<div class="container-fluid header-top">
        </div>
     <div class="row top-cover">
 				<div class="col-lg-3 col-sm-3 col-xs-3 col-529-12">
                 <a href="index.html"><img class="msap-logo opacity" src="img/msap-logo.png" alt="MSAP Logo"/></a>
 				</div>
      <div class="col-lg-9 col-sm-9 col-xs-9 col-529-12 text-right"> 
                      <h1>Project Directors Meeting</h1>
                 <p class="header-date">December 5 and 6, 2016<br>
Capital Hilton<br>
Washington, DC</p>
                </div>

          </div>  
                
    		
    
 		<div class="header-swirl">
       	 <img class="img-responsive big-swirl" src="img/header-swirl.png" alt="Kids Observing"/>
         <img class="img-responsive small-swirl" src="img/header-swirl-small.png" alt="Kids Observing"/>
        </div>
         <div class="header-photo">
         	<img class="img-responsive big-photo" src="img/header-photo.jpg" alt="Kids Observing"/>
            <img class="img-responsive small-photo" src="img/header-photo-small.jpg" alt="Kids Observing"/>
        </div>

    </header>
    
         <script>
		 $('a').each(function() {
   var a = new RegExp('/' + window.location.host + '/');
   if(!a.test(this.href)) {
       $(this).click(function(event) {
           event.preventDefault();
           event.stopPropagation();
           window.open(this.href, '_blank');
       });
   }
});
	 </script>
