

<section class="navme">    
 <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav text-uppercase">
        <li ><a href="index.html">Home</a></li>
        <li><a href="agenda.html">Agenda</a></li>
 		 <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logistics<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="conference.html">Conference Location</a></li>
                <li><a href="hotel.html">Hotel Accommodations</a></li>
                <li><a href="transportation.html">Transportation Information</a></li>
                <li><a href="attractions.html">Local Attractions</a></li>
                <li><a href="restaurants.html">Local Restaurants</a></li>
              </ul>
          </li>
        <li><a href="contacts.html">Contacts</a></li> 
       <li class="active"><a href="registration.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
       <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>
</section> 


