// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

// END VARIABLES

// Start Sticky Foot

$orange: #f58000;
$blue: #175287;

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 185px !important;
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: .02em;
    font-size: 50px;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
    font-family: 'Crimson Text', serif;
}

h2.join-us {
    font-size: 70px;
    color: $orange;
    font-weight: 700;
}

h2.top-headline {
    font-size: 60px;
    color: $orange;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    color: $blue;
}

p.header-date {
    font-size: 21px;
    color: #fff;
    letter-spacing: .06em;
    font-family: 'Crimson Text', serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 185px;
}

// End Sticky Footer

* {
    // border: solid 1px;
}

//Why is this missing from the grid system?

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
}

td, th {
    padding: 5px;
    border: solid 1px #a2a2a2;
}

th {
    height: 50px;
    background-color: #e1e1e1;
}

img.opacity:hover {
    opacity: .80;
    filter: alpha(opacity = 80);

    /* For IE8 and earlier */
}
