.msap-header {
    display: block;

    //   width: 100%;
}

.header-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header-swirl {}

.header-swirl img, .header-photo img {
    width: 100%;
}

.top-cover {
    position: absolute;
    top: 0;
    width: 100%;
}

.top-cover p, .top-cover h1 {
    color: #fff;
}

img.msap-logo {
    padding-top: 20px;
    width: 250px;
}

img.small-photo {
    display: none;
}

img.big-photo {
    display: block;
}

img.small-swirl {
    display: none;
}

img.big-swirl {
    display: block;
}
