.msap-header {
    img.msap-logo {
        padding-top: 10px;
        width: 200px;
    }

    h1 {
        font-size: 26px;
        padding-bottom: 2px;
        margin-bottom: -6px;
    }
}

@media only screen and (max-width: 530px) {
    .col-529-12 {
        width: 100% !important;
        text-align: center;
    }

    img.small-photo {
        display: block;
    }

    img.big-photo {
        display: none;
    }

    img.small-swirl {
        display: block;
    }

    img.big-swirl {
        display: none;
    }

    .top-cover {
        padding-left: 7%;
    }

    p.header-date {
        line-height: 1.1em;
    }
}
