.msap-footer {
    .upper-footer {
        background-color: #e1e1e1;
        padding: 23px 0;
        margin-top: -16px;
    }

    .lower-footer {
        background-color: $blue;
        background-image: url(../img/footer-swirl.png);
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 33px 10px 20px 10px;
        color: #d5d5d5;
        font-weight: 200;
    }

    .lower-footer a {
        color: #fff;
    }

    .lower-footer a:hover {
        color: #fff;
    }

    .edlogo-push {
        padding-top: 25px;
    }

    .edlogo-push img {
        width: 90px;
    }
}
