.navme {
    background-color: #306498;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.container > .navbar-header, .navbar-inverse {
    background-color: $blue !important;
    background-image: url(../img/nav-swirl.png) !important;
    background-repeat: no-repeat;
}

.navme .navbar.navbar-inverse a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #f8ff57;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #f8ff57;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #f1ff95;
}

.dropdown-menu > li > a {
    color: #333333 !important;
}
