.msap-content {
    display: block;

    // width: 100%;
    padding: 0;

    //   margin: 0;
}

.upper-band {
    padding: 0 0 40px 0;
}

/* Registration Form */

.form-group.required::before {
    content: "*";
    color: red;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 19px;
    margin-top: -15px;
    margin-bottom: -6px;
}

.red-star {
    color: red;
    font-size: .7em;
}

#register label {
    position: relative;
    top: 5px;
}
